/schematics/bob_toy_rev-a0/*.s#1

/schematics/bob_toy_rev-a0/bob_toy_rev-a0.s#2
/schematics/bob_toy_rev-a0/bob_toy_rev-a0.s#3
/schematics/bob_toy_rev-a0/bob_toy_rev-a0.s#4
/schematics/bob_toy_rev-a0/bob_toy_rev-a0.s#5
/schematics/bob_toy_rev-a0/bob_toy_rev-a0.s#6
/schematics/bob_toy_rev-a0/bob_toy_rev-a0.s#7
/schematics/bob_toy_rev-a0/bob_toy_rev-a0.s#8
/schematics/bob_toy_rev-a0/bob_toy_rev-a0.s#9

/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.b#1
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.b#2
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.b#3
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.b#4
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.b#5
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.b#6
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.b#7
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.s#1
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.s#2
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.s#3
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0_UpdatePartNumAttributes.scr

/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.dri

/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.gpi

/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.s#1
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.s#2
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.s#3
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.s#4
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.s#5
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.s#6
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.s#7
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.s#8
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.s#9

/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.b##
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.b#1
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.b#2
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.b#3
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.b#4
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.b#5
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.b#6
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.b#7
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.b#8
/schematics/wake_on_sleep_rev-a0/wake_on_sleep_rev-a0.b#9

/code/Default/common/wake_on_sleep.o
/code/Default/pic/wake_on_sleep.X/adxl362.o
/code/Default/pic/wake_on_sleep.X/configuration_bits.o
/code/Default/pic/wake_on_sleep.X/pwm.o
/code/Default/pic/wake_on_sleep.X/user.o
/code/Default/wake_on_sleep.exe
/code/Default/x86/registers.o

/code/.settings/org.eclipse.cdt.codan.core.prefs
/code/.settings/org.eclipse.cdt.managedbuilder.core.prefs

/schematics/*.b#1
/schematics/wake_on_sleep.b#2
/schematics/wake_on_sleep.b#3
/schematics/wake_on_sleep.b#4
/schematics/wake_on_sleep.b#5
/schematics/wake_on_sleep.b#6
/schematics/wake_on_sleep.b#7
/schematics/wake_on_sleep.b#8
/schematics/wake_on_sleep.b#9
/schematics/wake_on_sleep.dri
/schematics/wake_on_sleep.gpi
/schematics/wake_on_sleep.s#1
/schematics/wake_on_sleep.s#2
/schematics/wake_on_sleep.s#3
/schematics/wake_on_sleep.s#4
/schematics/wake_on_sleep.s#5
/schematics/wake_on_sleep.s#6
